defaults:
  - _self_

method: n-cps

train:
  total_epochs: 250
  validation_interval: 10

init:
  _target_: trainers.ncps.NCrossPseudoSupervision
  supervised_criterion:
    _target_: torch.nn.MSELoss
  cps_loss_weight: 0.5
    