defaults:
  - _self_

method: semi-supervised-meanteacher
num_models: 1  # Number of models in the ensemble

train:
  total_epochs: 250
  validation_interval: 10

init:
  _target_: trainer.SemiSupervisedMeanTeacher1toN
  supervised_criterion:
    _target_: torch.nn.MSELoss
  optimizer:
    _target_: torch.optim.AdamW
    _partial_: true
    lr: 0.01
    weight_decay: 0.01
  scheduler:
    _target_: torch.optim.lr_scheduler.StepLR
    _partial_: true
    step_size: 10
    gamma: 0.9
  ema_alpha_rampup: 0.95
  ema_alpha_final: 0.99
  consistency_weight: 1e-4
  consistency_rampup_epochs: 100
    