defaults:
  - _self_

method: semi-supervised-ensemble
num_models: 3  # Number of models in the ensemble

train:
  total_epochs: 350
  validation_interval: 10

init:
  _target_: trainer.SemiSupervisedEnsemble
  supervised_criterion:
    _target_: torch.nn.MSELoss
  optimizer:
    _target_: torch.optim.AdamW
    _partial_: true
    lr: 0.01
    weight_decay: 0.01
  scheduler:
    _target_: torch.optim.lr_scheduler.StepLR
    _partial_: true
    step_size: 10
    gamma: 0.9
  patience: 20  # Stop training after 20 validations without improvement
  min_delta: 0.001  # Minimum improvement to reset patience counter

    