defaults:
  - _self_

method: semi-supervised-ensemble

train:
  total_epochs: 350
  validation_interval: 10

init:
  _target_: trainer.SemiSupervisedEnsemble
  supervised_criterion:
    _target_: torch.nn.MSELoss
  optimizer:
    _target_: torch.optim.AdamW
    _partial_: true
    lr: 0.0003
    weight_decay: 0.0001
  scheduler:
    _target_: torch.optim.lr_scheduler.StepLR
    _partial_: true
    step_size: 10
    gamma: 0.9

    